<div class="texteditor" on-click="focus">
  <div class="dropzone-template">
    <form action="/upload" class="dropzone">
      <div class="dz-message">
        {{_('Drop a file here or click to upload.')}}
      </div>
    </form>
  </div>

  <div class="dropzone-content-template">
    <div class="dz-preview dz-file-preview">
      <div class="dz-image"><img data-dz-thumbnail /></div>
      <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
      <div class="dz-error-message"><span data-dz-errormessage></span></div>
      <div class="dz-success-mark">✔</div>
      <div class="dz-error-mark">✘</div>
    </div>
  </div>

  <textarea class="editor" id="editor{{id}}"></textarea>
</div>
